<html>
    <body>
        <table border="1px">
            <tr>
                <td>id</td>
                <td>Nome</td>
            </tr>
            <tr>
                <td>01</td>
                <td>Livro de NodeJS</td>
            </tr>
        </table>
    </body>
</html>